---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import HowTo from '../components/HowTo.astro';
import Cta from '../components/Cta.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Caravan Corridors Database - Archaeological Data Standard">
	<Navbar />
	<main>
		<Hero />
		<Features />
		<HowTo />
        <Cta />
	</main>
	<Footer />
</Layout>
